<!doctype html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="~/Content/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
              
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    CRM APPLICATION
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    
                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Stores</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/TheStore/Create">Add a Store</a>
                            <a class="dropdown-item" href="~/TheStore/Index">Stores List</a>
                        </div>
                    </li>

                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Products</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/Product/Create">Add a Product</a>
                            <a class="dropdown-item" href="~/Product/Index">Products List</a>
                        </div>
                    </li>
                    
                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Stock</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/Stock/Create">Add a Stock</a>
                            <a class="dropdown-item" href="~/Stock/Index">Stocks List</a>
                        </div>
                    </li>

                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Packs</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/Pack/Create">Add a Pack</a>
                            <a class="dropdown-item" href="~/Pack/Index">Packs List</a>
                        </div>
                    </li>

                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Prospects</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/Prospect/Create">Add a Prospect</a>
                            <a class="dropdown-item" href="~/Prospect/Index">Prospects List</a>
                        </div>
                    </li>

                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>SHoppingCarts</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/ShoppingCart/Index">View My Shopping Cart</a>
                        </div>
                    </li>

                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Quotation</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/Quotation/Create">Add a Quotation</a>
                            <a class="dropdown-item" href="~/Quotation/Index">Quotations List</a>
                        </div>
                    </li>

                    <li class="nav-item active  ">
                        <a class="nav-link dropdown show btn btn-secondary fa fa-shopping-cart dropdown-toggle" href="#0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--<i class="material-icons">dashboard</i> -->
                            <p>Clients</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="~/Client/Create">Add a Client</a>
                            <a class="dropdown-item" href="~/Client/Index">Clients List</a>
                        </div>
                    </li>
                  
</ul>
   
                        <!-- your sidebar here -->
                  
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->

            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#pablo">Dashboard</a>
                        <a class="navbar-brand" href="#pablo">Index</a>
                        <a class="navbar-brand" href="#pablo">Home</a>
                    </div>





                




                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="material-icons">notifications</i> Notifications
                                </a>
                            </li>
                            <!-- your navbar here -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()
                    <hr />
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">CRM APPLICATION</a> 
                    </div>
                    <!-- your footer here -->
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>