@model IEnumerable<Domain.Entities.Reclamation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateReclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategorieReclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SujetReclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.textReclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatReclamation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateReclamation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategorieReclamation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SujetReclamation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.textReclamation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtatReclamation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
